!**/.gitkeep

bin/*
logs/*

jenkins/war
jenkins/updates

jenkins/plugins/cvs*
jenkins/plugins/maven*
jenkins/plugins/ssh*
jenkins/plugins/subversion*

jenkins/jobs/jquery-jshint
!jenkins/jobs/jquery-jshint/config.xml

presentation.html
jenkins/.owner
jenkins/Fingerprint*
jenkins/Workspace*

jenkins/jobs/profile-jscoverage

*.bak
*.tap
