!**/.gitkeep

bin/*
logs/*

*.pyc

jenkins/queue.xml

jenkins/war
jenkins/updates

jenkins/plugins/cvs*
jenkins/plugins/maven*
jenkins/plugins/ssh*
jenkins/plugins/subversion*

jenkins/jobs/jquery-jshint
!jenkins/jobs/jquery-jshint/config.xml

presentation.html
jenkins/.owner
jenkins/Fingerprint*
jenkins/Workspace*

jenkins/jobs/profile-jscoverage

jenkins/jobs/jquery-qunit
!jenkins/jobs/jquery-qunit/config.xml

jenkins/jobs/jquery-jscoverage
!jenkins/jobs/jquery-jscoverage/config.xml


!**/config.xml

*.bak
*.tap
